<div class="login-left-container" id="slideBox">
    <div class="container-image">
        <div class="wrapper">
            <div class="hero-gallery-inner">
                <div class="gallery-column top-animation">

                    <a><img src="../../assets/images/login-slider/login-slider-img-1.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-content-1.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-img-2.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-content-2.png"></a>
                </div>
                <div class="gallery-column reverse-animation">
                    <a><img src="../../assets/images/login-slider/login-slider-content-4.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-img-4.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-content-5.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-img-5.png"></a>
                </div>
                <div class="gallery-column last-animation">
                    <a><img src="../../assets/images/login-slider/login-slider-img-7.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-content-7.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-img-8.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-content-8.png"></a>
                </div>

            </div>
        </div>

    </div>
    <div class="rightLoginSet">
        <div class="clearfix w-100">
            <div class="text-center mb-50 sm-mb-20 lg-mb-50">
            
                <img class="image1" src="../../assets/images/cow-head-symbols-and-logo-vector-template/cow-head-symbols-and-logo-vector-template.webp" alt="logo">

                <h6  class="head1"style="color:blue;">TAMILNADU VETERINARY AND ANIMAL SCIENCE UNIVERSITY </h6>
                <h6  class="head2"style="color:blue;">madhavaram milk colony,chennai-600 051,Tamilnadu,india</h6><br><br>
                <h6><i class="fa fa-user" aria-hidden="true"></i><span class="ml-1">Sign in to Continue</span></h6>

            </div>
            <div class="loginBottomSet">
                <div class="login-content clearfix">

                </div>
            </div>
            <form>
                <div class="row clsgrid">
                    <div class="col-12">
                        <label class="text-left" for="User Name">User Name</label><br>
                        <input
                            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored mt-2"
                            matinput name="email" placeholder="abc@gmail.com"><br>
                    </div>
                    <div class="mt-10 col-12">
                        <label for="password">password</label><br>
                        <input
                            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored mt-2"
                            matinput name="password" placeholder="enter your password"><br>
                        <i class="fa fa-eye-slash"></i><br>
                    </div>
                    <a class="btn-link" href="javascript:;" style="color:blue;">forgot password?</a><br>
                
                <button class=" btn btn-primary login" type="button">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                     LOGIN</button>
        </div>

        </form>