.login-left-container {
    height: 100vh;
    background: #fff;
}
.container-image {
    width: 65%;
    height: 100vh;
    float: left;
    overflow: hidden;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}
.hero-gallery-inner {
    display: flex;
    flex-wrap: wrap;
}

.gallery-column {
    width: 33.33%;
    padding: 10px 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ml-1{
    margin-right: 10px;

}
.text-right{
    text-align:left;
}

.gallery-column a {
    margin: 10px 5px;
    box-shadow: 0 0 1px #777;
    display: block;
}

.gallery-column a img {
    width: 100%;
}
.top-animation {
    -webkit-animation: c 50s linear infinite alternate;
    animation: c 50s linear infinite alternate;
}

.reverse-animation {
    -webkit-animation: d 50s linear infinite alternate;
    animation: d 50s linear infinite alternate;
}
.last-animation {
    -webkit-animation: e 40s linear infinite;
    animation: e 40s linear infinite;
}
.rightLoginSet {
    width: 35%;
    float: right;
    height: 100%;
    overflow-y: auto;
    padding-right: 14px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clearfix {
    display: block;
}
.w-100 {
    width: 100%;
    display: inline-block;
}
.btn-link {
    font-weight: 400;
    color: rgb(17, 17, 153);
    text-decoration: none;
    padding: 0;
    text-align:right;
    margin-top: -20px;
    font-size: 13px;
}
.text-center {
    text-align: center !important;
}
.mb-50 {
    margin-bottom: 50px;
}
.rightLoginSet h2 {
    margin: 20px 0 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: #094c4c !important;
}

.mt-30 {
    margin-top: 30px;
}
.mt-2{
    margin-top: -7px;
}
.clsgrid{
    display: grid;
    justify-content: center;
}
.btn-primary{
    border-color:#700013;
    background-color:#ffffff;
    color:#700013;
}

.form-control, input:focus, input:hover {
    border:15% !important;
    box-shadow: none;
}
.form-control, input:focus, input:hover {
    border:15 !important;
    box-shadow:none;
}
.fa-eye-slash {
    position: absolute;
    right: 8px;
    top: 37px;
    color: #085959;
    font-size: 16px;
    cursor: pointer;
}
.image1{
    width:90px;
    height:90px;
}
.head1{
    color: blue;
    font-size: 12px;
    padding: 10px;
}
.head2{
    color: blue;
    font-size: 11px;
    padding: 10px;
}


.login-content {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}
.mt-10{
    margin-top: 10px;
}

@keyframes c{
    0% {
        tranform: translateY(0%);
    }
    100% {
        transform: translateY(50%);
    }
}
@keyframes d{
    0% {
        tranform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}
@keyframes e{
    0% {
        tranform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}