<div class="login-left-container" id="slideBox">
    <div class="container-image">
        <div class="wrapper">
            <div class="hero-gallery-inner">
                <div class="gallery-column top-animation">

                    <a><img src="../../assets/images/login-slider/login-slider-img-1.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-content-1.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-img-2.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-content-2.png"></a>
                </div>
                <div class="gallery-column reverse-animation">
                    <a><img src="../../assets/images/login-slider/login-slider-content-4.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-img-4.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-content-5.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-img-5.png"></a>
                </div>
                <div class="gallery-column last-animation">
                    <a><img src="../../assets/images/login-slider/login-slider-img-7.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-content-7.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-img-8.png"></a>
                    <a><img src="../../assets/images/login-slider/login-slider-content-8.png"></a>
                </div>

            </div>
        </div>

    </div>
    <div class="rightLoginSet">
        <div class="clearfix w-100">
            <div class="text-center mb-50 sm-mb-20 lg-mb-50">

                <img class="image1" src="../../assets/images/logo/Powered_by_cardinality.png" alt="logo">


                <h6 class="head2" style="color:rgb(255, 0, 0);">Cardy Projects</h6>
</div>
    
            <div class="loginBottomSet">
                <div class="login-content clearfix">

                </div>
            </div>
            <form>
                <div class="row clsgrid">
                    <div class="col-12">
                        <label class="User Name">User Name</label>
                        <input class="form-control fm-l-style ng-dirty ng-valid ng-touched mt-2" name="email"
                            placeholder="enter your email" required type="email" ng-reflect-required
                            ng-reflect-name="email" ng-reflect-model="mccauley@cardinality.ai">
                    </div>
                    <div class="mt-10 col-12">
                        <label for="password">password</label>
                        <input
                            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored mt-2"
                            matinput name="password" placeholder="enter your password"><br>
                        <i class="fa fa-eye-slash"></i>
                        <input type = "checkbox"><span style="font-size:12px">
                 &ensp; I Agree to the terms&conditons<br><br><br></span>
                      <a class="btn-link" href="javascript:;" style="color:#777;">FORGOT PASSWORD?</a><br>
                    
                    <button class=" btn btn-primary login" type="button">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        LOGIN</button>
                </div>
            
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn btn-outline-dark" role="button" style="margin-left:60px;background-color:white;color:blue">
                            <img width="20px" style="margin-bottom:3px; margin-right:-5px;border: right 1px" alt="Google sign-in"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png">
                            &nbsp; sign in with Google
                        </a>
                    </div>
                </div>
            
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
                </script>

                </div>
            </form> 