<html >
<head >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-
  awesome.min.css">
</head>
<body>
  <div class="main">
    <div class="num">
      <div class="">
        <img src="taxes.png" width=70%>
        <!-- <h3 style="color:violet;">26,500 </h3> -->
        <h6 style="color:violet;"> Project-Dev</h6>
      </div>
    </div>
 <div class="num">
      <div class="">
        <img src="no-tax.png" width=70%>
        <!-- <h3 style="color:palevioletred;">236 </h3> -->
        <h6 style="color:palevioletred;">Projects-QA</h6>
      </div>
    </div>
 <div class="num">
      <div class="">
        <img src="document.png" width=70% style="background-color:powderblue;">
        <!-- <h2 style="color:green;">313</h2> -->
        <h6 style="color:green;">AWS Market Place</h6>
      </div>
    </div>
    <div class="num">
      <div class="">
        <img src="image-files.png" width=70%>
        <!-- <h3 style="color:blue;">52 </h3> -->
        <h6 style="color:blue;">AWS Accounts</h6>
      </div>
    </div>
  <!-- ?<div class="num"> -->
      <!-- <div class=""> -->
        <!-- <img src="tax-free.png" width=70%> -->
        <!-- <h3 style="color:orange;">59</h3> -->
        <!-- <h6 style="color:orange;">Total Vaccination(INR)</h6> -->
      <!-- </div> -->
    <!-- </div> -->

  </div>
<div class="container1">
   <th> 
    <div class="rightAddBtn f-right">
    <button class="btn addBtnsNew" data-target="#add-decision" data-toggle="modal">+</button>
    </div>
  <table id="table">
 <tr>
      <th></th>
        <th><b>Project </b> <i style="font-size:16px" class="fa">&#xf0dc;</i></th>
        <th><b>Status</b> <i style="font-size:16px" class="fa">&#xf0dc;</i></th>
        <th><b>Dev/QA </b><i style="font-size:16px" class="fa">&#xf0dc;</i></th>
        <th><b>Team </b><i style="font-size:16px" class="fa">&#xf0dc;</i></th>
        <th><b>Created On</b> <i style="font-size:16px" class="fa">&#xf0dc;</i></th>
        <th><b>Created By</b><i style="font-size:16px" class="fa">&#xf0dc;</i>
         
        </th>
        <th>
        <button class=" btn btn-primary login" type="button">
         <i style="font-size:20px" class="fa">&#xf0b0;</i>
</button>
</th>
      </tr>
      <tr>
        <td><i style="font-size:27px" class="fa">&#xf007;</i>
        </td>
        <td><a href="I202200161366">I202200161366</a>
          <span><i style="font-size:17px" class="fa">&#xf02d;</i></span>
        </td>
        <td><i style="font-size:17px" class="fa">&#xf1ce;</i>
          In Progress</td>
        <td>09/04/2022, 5:00 PM</td>
        <td>09/05/2022, 7:41 AM</td>
        <td>Child Protective Services</td>
        <td></td>
      </tr>
       <tr>
        <td><i style="font-size:27px" class="fa">&#xf007;</i>
        </td>
        <td><a href="I202200161369 ">I202200161369 </a>
         <span> <i style="font-size:17px" class="fa">&#xf02d;</i></span>
        </td>
        <td><i style="font-size:17px" class="fa">&#xf1ce;</i>
          In Progress</td>
        <td>09/05/2022, 5:16 AM</td>
        <td>09/05/2022, 5:17 AM</td>
        <td>Child Protective Services</td>
        <td></td>
      </tr>
       <tr>
        <td><i style="font-size:27px" class="fa">&#xf007;</i>
        </td>
        <td><a href="I202200161365">I202200161365</a>
          <span><i style="font-size:17px" class="fa">&#xf02d;</i></span>
        </td>
        <td><i style="font-size:17px" class="fa">&#xf1ce;</i>
          In Progress</td>
        <td>09/05/2022, 4:46 AM</td>
        <td>09/05/2022, 4:47 AM</td>
        <td>Child Protective Services</td>
        <td></td>
      </tr>
      <tr>
        <td><i style="font-size:27px" class="fa">&#xf007;</i>
        </td>
        <td><a href="I202200161364">I202200161364</a>
         <span><i style="font-size:17px" class="fa">&#xf02d;</i></span>
        </td>
        <td><i style="font-size:17px" class="fa">&#xf1ce;</i>
          In Progress</td>
        <td>09/04/2022, 5:00 PM</td>
        <td>09/05/2022, 7:41 AM</td>
        <td>Child Protective Services</td>
        <td></td>
      </tr>
 <tr>
        <td><i style="font-size:27px" class="fa">&#xf007;</i>
        </td>
        <td><a href="I202200161363 ">I202200161363 </a>
         <span> <i style="font-size:17px" class="fa">&#xf02d;</i></span>
        </td>
        <td><i style="font-size:17px" class="fa">&#xf1ce;</i>
          In Progress</td>
        <td>09/05/2022, 4:43 AM</td>
        <td>09/05/2022, 4:45 AM</td>
        <td>Child Protective Services</td>
        <td></td>
      </tr>
      <tr>
        <td><i style="font-size:27px" class="fa">&#xf007;</i>
        </td>
        <td><a href="I202200161362">I202200161362</a>
         <span> <i style="font-size:17px" class="fa">&#xf02d;</i></span>
        </td>
        <td><i style="font-size:17px" class="fa">&#xf1ce;</i>
          In Progress</td>
        <td>09/05/2022, 4:40 AM</td>
        <td>09/05/2022, 4:42 AM</td>
        <td>Child Protective Services</td>
        <td></td>
      </tr>
<tr>
        <td><i style="font-size:27px" class="fa">&#xf007;</i>
        </td>
        <td><a href="I202200161361 ">I202200161361 </a>
         <span> <i style="font-size:17px" class="fa">&#xf02d;</i></span>
        </td>
        <td><i style="font-size:17px" class="fa">&#xf1ce;</i>
          In Progress</td>
        <td>09/05/2022, 4:40 AM</td>
        <td>09/05/2022, 4:41 AM</td>
        <td>Child Protective Services</td>
        <td></td>
      </tr>
 <tr>
        <td><i style="font-size:27px" class="fa">&#xf007;</i>
        </td>
        <td><a href="I202200161360 ">I202200161360</a>
          <span><i style="font-size:17px" class="fa">&#xf02d;</i></span>
        </td>
        <td><i style="font-size:17px" class="fa">&#xf1ce;</i>
          In Progress</td>
        <td>09/05/2022, 4:36 AM</td>
        <td>09/05/2022, 4:38 AM</td>
        <td>Child Protective Services</td>
        <td></td>
      </tr>
       <tr>
        <td><i style="font-size:27px" class="fa">&#xf007;</i>
        </td>
        <td><a href="I202200161358">I202200161368</a>
        <span> <i style ="font-size:17px" class="fa">&#xf02d;</i></span>
        </td>
        <td><i style="font-size:17px" class="fa">&#xf1ce;</i>
          In Progress</td>
        <td>09/05/2022, 4:14 AM </td>
        <td>09/05/2022, 4:16 AM </td>
        <td>Child Protective Services</td>
        <td></td>
      </tr>
      <tr>
        <td><i style="font-size:27px" class="fa">&#xf007;</i>
        </td>
        <td><a href="I202200161357">I202200161357</a>
          <span><i style="font-size:17px" class="fa">&#xf02d;</i></span>
        </td>
        <td><i style="font-size:17px" class="fa">&#xf1ce;</i>
          In Progress</td>
        <td>09/05/2022, 4:14 AM</td>
        <td>09/05/2022, 4:16 AM</td>
        <td>Child Protective Services</td>
        <td></td>
      </tr>
 </table>
 <!-- <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vimala</td>
      <td>04/10/2021</td>
      <td>08/08/2021</td>
    </tr>
  </tbody>
 </table> -->
    </div>
</body>
<div class="modal fade modal-" id="add-decision" tabindex="-1">
  <div class="modal-dialog modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title">Add</h4>
        <i style="font-size:24px;color:white;padding-bottom: 16px;padding-right:16px;" class="fa">&#xf00d;</i>
        </div>
 <form>
   <div class="modal-body">
              <div class="form-row">
                <div class="col-md-4"><input type="number" placeholder="project" class="form-control" id="number"></div>
                <div class="col-md-4"><input type="text" placeholder="status" class="form-control " id="text"></div>
                <div class="col-md-4"><input type="number" placeholder="dev/QA" class="form-control" id="number"></div>
                </div>
                <br>
                <br>
              
              <div class="form-row">
                <div class="col-md-4"><input type="number" placeholder="Team" class="form-control" id="number"></div>
                <div class="col-md-4"><input type="text" placeholder="create on" class="form-control" id="text"></div>
                <div class="col-md-4"><input type="text" placeholder="create by" class="form-control" id="text"></div>
                </div>
            </div>
          </form>
          
          <br>
           <div class="modal-footer">
         <button type="button"style="background-color:white" data-bs-dismiss="modal">Cancel
          <i style="font-size:24px" class="fa">&#xf00d;</i>
        </button>
        <button type="button" class="btn btn-primary">Save changes
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
</html>