<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-
  awesome.min.css">
  
</head>

<body>
  <div class="main">
    <div class="num">
      <div class="">
        <img src="taxes.png" width=70% >
        <h3 style="color:violet;" >26,500 </h3> 
       <h6 style="color:violet;"> Total Revenue(INR) </h6> 
      </div>
      </div>
      
    <div class="num">
      <div class="">
      <img src="no-tax.png" width=70%>
      <h3 style="color:palevioletred;" >236 </h3>
        <h6 style="color:palevioletred;">Total Registration(INR) </h6>
    </div>
    </div>

    <div class="num">
      <div class="">
      <img src="document.png" width=70% style="background-color:powderblue;">
      <h3 style="color:green;">313</h3>
        <h6 style="color:green;">No Of Patient Visit(INR)</h6>
</div>
    </div>
    <div class="num">
      <div class="">
      <img src="image-files.png" width=70%>
      <h3 style="color:blue;">52 </h3>
      <h6 style="color:blue;">Total Surgeries(INR)</h6>
    </div>
    </div>
    <div class="num">
      <div class="">
      <img src="tax-free.png" width=70%>
      <h3 style="color:orange;">59</h3>
      <h6 style="color:orange;">Total Vaccination(INR)</h6>
</div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <i class="fa fa-eye"  style="float: right;margin-right: -18%;margin-top: 6%;"> view all</i>
        <h3> Trending Departments</h3>
       
       
         <img src="bar chart.jpeg" alt="bar chart"
          width="350" height="350">
      </div>

      <div class="col-6">
        <i class="fa fa-eye viewall " style="float: right;margin-right: -19%;margin-top: 6%;"> view all</i>
        <h3> Trending Batches</h3>
    
        <img src="bar chart.jpeg"
          alt="bar chart" width="350" height="350">
      </div>
    </div>
  </div>
  </body>
  </html>